// Typography
$base-font-family: "Open Sans", Arial, Verdana, Helvetica, sans-serif;
$header-font-family: $base-font-family;
$paragraph-font-family: $base-font-family;


// Font Colors
$base-font-color: #ced9e0;
$base-header-font-color: #fff;
$base-heading-font-color: #fff;
$base-accent-color: #80C9F5;
$base-footer-font-color: #CAE8FB;

// Background Color
$base-background-color: #23293C;

// Link Colors
$base-link-color: $base-font-color;
$base-hover-link-color: darken($base-font-color, 15);

// Header Link Colors
$base-logo-link-color: $base-accent-color;
$base-logo-hover-link-color: darken($base-accent-color, 15);
$base-header-link-color: $base-header-font-color;
$base-header-hover-link-color: darken($base-header-font-color, 15);
 
// Borders
$base-border-color: #ddd;
$header-border: 2px solid $base-accent-color;
$heading-border: 2px solid $base-heading-font-color;
$section-border: 2px solid $base-font-color;

$max-width: 68em;