//- index.jade
extends ./../layout.jade

block page-title
    title Постепенный редизайн sibnovosti.ru

block content
    header
      #logo-container
        #logo
            span.logo-title Redesign 
            a(href='http://sibnovosti.ru', target='_blank') sibnovosti.ru
        #subtitle Редизайн портала Sibnovosti.ru - от сложного к простому
      nav
        ul
          li
            a(href='#redesign') Живой редизайн
          li
            a.bordered(href='teambuilding.html') Участие в команде
    #content
      section.intro
        h1#redesign
          | Живой 
          span.nl
          | редизайн
        p
          | Процесс изменения сайта был постепенным и многоэтапным. На отдельном шаге изменения  были заметны слабо, что в свою очередь позволяло сохранить лояльность читателей.
          | Унаследованный CSS-код имел большое количество неиспользуемых классов и свойств, которые в определенный момент времени наградили таблицы стилей повышенной сложностью и значительным весом. Впоследствии все CSS файлы были переведены в синтаксис SCSS.

      section.row
        h2 Шапка
        .col-full
          p
            | Блок, который всегда находится в активной области экрана — это шапка. Именно эту область в первую очередь видит пользователь.
            | Поэтому верхней части страницы было уделено особое внимание. Изменение в навигацию вносились поэтапно, вдумчиво и с крайней степенью осторожности.
          .photo-grid
            em Первоначальная версия
            a.col-1.next-down(href='img/header_v1.jpg', rel='lightbox')
              img(src='img/header_v1.jpg', alt='Шапка')
          .photo-grid
            em версия №2
            a.col-1.next-down(href='img/header_v2.jpg', rel='lightbox')
              img(src='img/header_v2.jpg', alt='Шапка')
          .photo-grid
            em версия №3
            a.col-1.next-down(href='img/header_v3.jpg', rel='lightbox')
              img(src='img/header_v3.jpg', alt='Шапка')
          .photo-grid
            em Актуальная версия
            a.col-1(href='img/header_v4.jpg', rel='lightbox')
              img(src='img/header_v4.jpg', alt='Шапка')

      section.row
          h2 Подвал
          .col-full
              p
                | Уменьшено число символов в подвале, что сделало его более ненавязчивым и лаконичным. Нижняя полоса меню сделана с наследованием от верхнего элемента, имеющего навигацию по региональным поддоменам сайта.
              em Первоначальная версия
              .photo-grid
                a.col-1.next-down(href='img/footer_v1.jpg', rel='lightbox')
                  img(src='img/footer_v1.jpg', alt='Подвал')
              em Версия №2
              .photo-grid
                a.col-1.next-down(href='img/footer_v2.jpg', rel='lightbox')
                  img(src='img/footer_v2.jpg', alt='Подвал')
              em Актуальная версия
              .photo-grid
                a.col-1(href='img/footer_current.jpg', rel='lightbox')
                  img(src='img/footer_current.jpg', alt='Подвал')

      section.row
          h2 Страница публикации
          p
            | Концептаульно изменена страница с новостью. Убрана трехколоночная сетка; происходило постепенное увеличение размера шрифта. Переработана типографика: полностью пересмотрено оформление отформатированного текста публикации. Подобран баланс интерлиньяжа, отступы для параграфов, стилизованы цитаты. Контарстный, крупный заголовок.
          .col
            .photo-grid
              a.col-1(href='img/show_old.jpg', rel='lightbox')
                img(src='img/show_old.jpg', alt='Сраница публикации')
            em Изначальная версия
          .col
            .photo-grid
              a.col-1(href='img/show_v2.jpg', rel='lightbox')
                img(src='img/show_v2.jpg', alt='Сраница публикации')
            em Версия №2
          .col
            .photo-grid
              a.col-1(href='img/show_current.jpg', rel='lightbox')
                img(src='img/show_current.jpg', alt='Сраница публикации')
            em Актуальная версия

      section.row
          h2 Страница категории
          p
            | Избавились от центральной колонки. Последняя новость в категории отображается сверху. Шаблон этой страницы имеет структуру, отличную от страницы публикации.
          .col
            .photo-grid
              a.col-1(href='img/category_v1.jpg', rel='lightbox')
                img(src='img/category_v1.jpg', alt='Сраница раздела')
            em Изначальная версия
          .col
            .photo-grid
              a.col-1(href='img/category_v2.jpg', rel='lightbox')
                img(src='img/category_v2.jpg', alt='Сраница раздела')
            em Версия №2
          .col
            .photo-grid
              a.col-1(href='img/category_v3.jpg', rel='lightbox')
                img(src='img/category_v3.jpg', alt='Сраница раздела')
            em Версия №3

      section.row
          h2 Блок «Главные новости»
          p
            | Концептуально другой и современный дизайн для главных новостей
          .col
            .photo-grid
              a.col-1(href='img/mainnews_v1.jpg', rel='lightbox')
                img(src='img/mainnews_v1.jpg', alt='Главные новости')
            em Изначальная версия
          .col
            .photo-grid
              a.col-1(href='img/mainnews_v2.jpg', rel='lightbox')
                img(src='img/mainnews_v2.jpg', alt='Главные новости')
            em Актуальная версия

      section.row
          h2 Поддомен федерального сайта
          p
            | Проводились изменения дизайна в несколько подходов для достижения общей стилистики с региональными поддоменами.
          .col
            .photo-grid
              a.col-1(href='img/fed_v1.jpg', rel='lightbox')
                img(src='img/fed_v1.jpg', alt='Федеральный поддомен')
            em Версия №1
          .col
            .photo-grid
              a.col-1(href='img/fed_v2.jpg', rel='lightbox')
                img(src='img/fed_v2.jpg', alt='Федеральный поддомен')
            em Версия №2
          .col
            .photo-grid
              a.col-1(href='img/fed_current.jpg', rel='lightbox')
                img(src='img/fed_current.jpg', alt='Федеральный поддомен')
            em Актуальная версия

      section.row
          .col-full
              h2 Адаптивность шаблона
              p
                | Поэтапный переход верстки сайта на адаптивную версию. Унификация отличающихся друг от друга типов страниц, приведение их к идентичной структуре.
                | Пошаговое создание отдельных контрольных точек ширины экрана с последующим переходом к минималистичной версии под смартфоны.в

      section.row
        .col
          h2 Noto Sans & Noto Sans Serif
          p
            | Шрифты семейства Noto стали заменой для стандартного пакета шрифтов, предустановленных на операционной системе пользователя.
        .col
          h2 Использование SVG и CSS-анимаций
          p
            | Едва заметные мелочи и ненавязчивая анимациия использовались в комплексе с векторной графикой формата SVG

      section.row
        .col-full
            h2 Анимации и переходы
            p
              | Примеры анимаций по событию наведения на элемент
            .photo-grid
              a.col-3(href='img/animate_01.gif', rel='lightbox')
                img(src='img/animate_01.gif', alt='Анимации')
              a.col-3(href='img/animate_02.gif', rel='lightbox')
                img(src='img/animate_02.gif', alt='Анимации')
              a.col-3(href='img/animate_03.gif', rel='lightbox')
                img(src='img/animate_03.gif', alt='Анимации')

      section.row
        .col-full
            h2 Переход с CSS на SASS
            p
              | Рефакторинг существующих CSS файлов. Постепенный переход на препроцессор SASS: использование переменных для основной цветовой палитры сайта,
              | а также для указания контрольных точек при адаптивном поведении. Использование миксинов и дирректив @import, раздаление стилей на отдельные файлы (layout, header, footer и т.п.)

      section.row
        .col-full
          p
            | © 2016 - on-1.ru
            a(href='http://on-1.ru') 
              | Gordeev Andrey
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script.
      if (!window.jQuery)
      {
      document.write('<script src="js/vendor/jquery.1.11.min.js"><\\/script>');
      }
    script(src='js/vendor/jquery.fluidbox.min.js')
    script(src='js/main.js')
