//- layout.jade
include helpers/variables
doctype html
html
    block page-title
        title Редизайн Sibnovosti.ru	
    include partials/head
    body
        block content
        include partials/scripts
